# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Fashion-MNIST data
module_1/data/
module_1/data/FashionMNIST/
*.gz
*ubyte

# PyTorch model files
*.pth
*.pt

# VS Code
.vscode/

# Image files
module_3/oxford_pet_manual/images/
module_3/oxford_pet_manual/annotations/
module_3/yolo_oxford_pets/
module_3/yolo_training/
module_3/raccoon_dataset/
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.gif
*.xml
*.mat